
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
:root {
    --main-bg-color: brown;
  }
*{
    margin: 0px;
    padding: 0px;
}
footer{
    background-color:#b79595;
    height: 12vh;
    color: white;
    font-family: 'Fascinate', cursive;
font-family: 'Roboto Mono', monospace;
}
header{
    height: 58px;
    background-color:white;
    /* border: 2px solid blueviolet; */
   

}
nav ul{
    display: flex;
    /* justify-content: flex-start; */
    justify-content:flex-start;
    height: 58px;
}

nav ul li{
    list-style: none;
    padding: 16px 31px;
    align-items: center;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-shadow: 5px 5px 5px greenyellow;
     /* font-size: 16px;      */
}
nav ul li a:hover {
    color: blue;
    text-shadow: 5px 5px 5px skyblue;

}

nav{
    display: flex;
    margin: 0px 36px ;
}
.search{
    display: flex;
    align-items: center;
    
}
.search input{
    width:254px;
    height: 26px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(3, 3, 3);
    border-radius: 8px;
    background-color:yellow;
    margin: 15px 10px 15px 25px;
}
.search  input:hover{
    background-color: aliceblue;
}

nav img.myclass{
    padding:0px 0px;
}
.secondlogo{
    padding:0px 53px;
}


.details{
    min-height: 100vh;
    /* color: aquamarine; */
}
.text-center{
    text-align: center;
}
h2#first{
    color: black;
    padding: 0px 0px;
}
.slider{
    margin: 8px 153px;
    height: 300px;
    width: 900px;
    background-color: black;
    background: url(https://images.pexels.com/photos/2272752/pexels-photo-2272752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    animation: first 14s 5s infinite ;
    border: 3px solid black;
}
@keyframes first {
0%{background: url(/image/shoes.jpg);
}
10%{
    background: url(image/jeans.jpg);
}
35%{
    background: url(/image/phone.jpg);
}
56%{
    background: url(/image/jeans.jpg);
}
85%{
    background: url(/image/phone.jpg);
}


  
    
}
.card{
    max-width: 91vh;
    margin: 18px 32px; 
    
}
.card h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.lines#line{
     padding: 0px 21px; 

}
.lines{
    margin: 0px 0px;
    padding:0px 0px
}
.carditem{
     padding: 5px 12px; 
    
}
.carditem img{
    padding:0px 10px
}
.footerclass nav ul li{
    padding: 4px 100px;
}
   

    
    
    
    
    

